thead {
    background-color: black;
    color: white;
}
input {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
#search {
    width: 80%;
    height: 45px;
    line-height: 45px;
    font-size: 35px;
}
#suggestions {
    position: absolute;
    background-color: #fff;
    width: 80%;
    color: black;
    z-index: 2000;
    border-color: grey;
    border-width: 1px;
    border-style: double;
    margin-left: 10%;
}
.btn-suggest {
    width: 100%;
    background-color: white;
    border-radius: 0;
}
.btn-suggest:hover {
    background-color: #eee;
}
.suggestion-text {
    font-weight: bolder;
    font-size: 20px
}
#input-div {
    margin-top: 20px;
    margin-bottom: 20px;
}
html {
    scroll-behavior: smooth;
  }
  
  /*scroll bar*/
  
  html::-webkit-scrollbar {
  width: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: red;
  }
  
  /*scroll bar end*/